.mission-setup {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f7fc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.heading {
  font-size: 2em;
  margin-bottom: 20px;
  color: #2c3e50;
}


.planet-dropdown, .resource-input input {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin: 5px 0;
}

.resource-input {
  margin: 10px 0;
}

.start-button-container {
  margin-top: 20px;
}

.start-button {
  background-color: #3498db;
  color: white;
  padding: 12px 25px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.start-button:hover {
  background-color: #2980b9;
}
